h3 {
	color : blue;
}

.parent {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.child {
			width: 25%;
			border: 1px solid	#e36914;
			padding: 1%;
			margin: 2%;
			box-shadow: 8px 8px 8px -8px #000;
			border-radius: 10%;
			text-align: center;
}	

.child1 {
			width: 25%;
			border: 1px solid	#e36914;
			padding: 1%;
			margin: 2%;
			box-shadow: 8px 8px 8px -8px #000;
			border-radius: 10%;
			text-align: center;
}